#header {
    color: rgb(203, 147, 255);
    background-color: rgb(255, 68, 0);
    text-align: center;
    font: bold italic 2.5em/2em Arial, Helvetica, sans-serif;
}

h3 {
    color:rgb(255, 68, 0);
}

body {
    background-color: rgb(203, 147, 255);
    color: rgb(255, 68, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

#main{
    color: purple;
    font-size: 1.15em;
    font-family:Arial, Helvetica, sans-serif;
}

.iAmMarried{
    color: purple;
    font-size: 1.15em;
    font-style: italic;
    font-weight: bold;
}